*.o linguist-generated=true
*.h linguist-generated=true
*.info linguist-generated=true
*.lnk linguist-generated=true
*.pal linguist-generated=true
*.s linguist-generated=true
*.stardust linguist-generated=true
*.iff linguist-generated=true
Debug linguist-generated=true
Engine linguist-generated=true
EngineC2P linguist-generated=true
EngineScroller linguist-generated=true
SCOPTIONS linguist-generated=true
smakefile linguist-generated=true
Gfx/Back_0 linguist-generated=true
Gfx/Back_1 linguist-generated=true
Gfx/Back_2 linguist-generated=true
Gfx/Back_3 linguist-generated=true
Gfx/Back_4 linguist-generated=true
Gfx/Back_5 linguist-generated=true
Gfx/Back_6 linguist-generated=true
Gfx/Back_7 linguist-generated=true
Gfx/Back_8 linguist-generated=true
Gfx/Back_9 linguist-generated=true
Gfx/DefaultMap linguist-generated=true
Gfx/PlayerShip linguist-generated=true
