*.o linguist-generated=true
*.info linguist-generated=true
*.lnk linguist-generated=true
*.pal linguist-generated=true
*.s linguist-generated=true
*.stardust linguist-generated=true
*.iff linguist-generated=true
